name: Android Build & Release

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Prepare APK for Release
        run: |
          find . -name "*-debug.apk" -exec mv {} projectivy-tmdb.apk \;

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: projectivy-tmdb
          path: projectivy-tmdb.apk
          retention-days: 1

      - name: Update Latest Release
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Stable Build
          body: "Automated build of a plugin for the Projectivy TV Launcher wallpaper."
          files: projectivy-tmdb.apk
          make_latest: true
